@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro ExtraLight for Powerline.otf") format("woff");
	font-weight: 100;
}
@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro Light for Powerline.otf") format("woff");
	font-weight: 300;
}
@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro for Powerline.otf") format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro Medium for Powerline.otf") format("woff");
	font-weight: 500;
}
@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro Semibold for Powerline.otf") format("woff");
	font-weight: 600;
}
@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro Bold for Powerline.otf") format("woff");
	font-weight: 700;
}
@font-face {
	font-family: "SourceCodePro";
	src: url("/static/fonts/Source Code Pro Black for Powerline.otf") format("woff");
	font-weight: 900;
}
html {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
.terminal {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.gutter {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('/static/images/vertical.png');
}
.gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('/static/images/horizontal.png');
}